apiVersion: v2
name: pdf2md
description: Helm chart for pdf2md pdf2md.trieve.ai
type: application
version: 0.0.2
appVersion: "sha-b6286ae"
dependencies:
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 20.10.0
    condition: redis.enabled
  - name: clickhouse
    version: 0.0.0
    condition: clickhouse.enabled
