kind: Service
apiVersion: v1
metadata:
  name: tika
  labels:
    app.kubernetes.io/instance: trieve
    app.kubernetes.io/name: tika
spec:
  type: ClusterIP
  ports:
    - port: 9998
      targetPort: 9998
      protocol: TCP
      name: tika
  selector:
    app.kubernetes.io/name: tika
    app.kubernetes.io/instance: {{ .Release.Name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tika
  labels:
    app.kubernetes.io/name: tika
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: tika
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tika
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
      - name: tika
        resources:
          requests:
            memory: 5Gi
        image: apache/tika:2.9.1.0-full
        ports:
          - containerPort: 9998
